<!DOCTYPE html>
<html>

  <head>
    {% block head %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Expense Tracker | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% endblock %}
  </head>

  <body class="h-screen">

    <div class="w-full text-center p-2 bg-slate-300">
      {% block header %}
      {% endblock %}
    </div>

    <div class="container mx-auto">


      <div class="flex flex-row p-0 m-0">
        
        <div id="content" class="w-4/5">
          {% block content %}
          {% endblock %}
        </div>

        <div id="chat" class="w-1/5 border-l-2 border-slate-200 p-4 h-full">
          {% include "components/chat.html" %}
        </div>

      </div>

    </div>

  </body>

</html>