
{% macro upload_receipt_button() %}

<script>
  function uploadReceipt(input) {

    const file = input.files[0];
    console.log(input);
    console.log(file);

    const formData = new FormData();
    formData.append('receipt', file);

    fetch('/files/receipt', {
      method: 'POST',
      body: formData
    }).then(response => {
      if (response.ok) {
        console.log('File uploaded successfully');
      } else {
        console.error('File upload failed');
      }
    }).catch(error => {
      console.error('Error uploading file:', error);
    });
  }
</script>

<!-- html -->
<button 
  onclick="document.getElementById('receipt').click()"
  class="bg-slate-200 p-2 rounded-lg hover:bg-slate-400"
>
  Upload Receipt
</button>
<input type="file" id="receipt" name="receipt" accept="image/*" class="hidden" onchange="uploadReceipt(this)">
{% endmacro %}
